$font-stack:'Source Sans Pro', sans-serif;
$second-font: 'Oswald', sans-serif;

$font-color-white: rgba(255, 255, 255, 1);
$font-color-gray: rgba(102, 102, 102, 1);
$font-color-footer:rgba(255, 255, 255, 0.4);

$background-color-footer: rgba(70, 69, 71, 1);
$background-color: rgba(238, 238, 238, 1);;

$button-color: #55C2D8;

$font-size-headline: 48px;
$font-size-subtitle: 24px;


